NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cG9wdWxhci1ibHVlamF5LTk5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_gw3tndikUiNDBB9ytKHHKx5kY8EkGUuCGmYb2wazSx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Connect to Local Postgres
DATABASE_URL="postgresql://nik@localhost:5432/ai-interviewer"
GEMINI_API_KEY=AIzaSyBfTcwubq58K-ovBjEMroeZPazjtjgZsTc
RESEND_API_KEY=re_55zd477C_HcLxRsXxQcco9uB2E4ZXDSrc
RESEND_FROM_EMAIL=onboarding@resend.dev
NEXT_PUBLIC_APP_URL=http://localhost:3000
